<div class="container mx-auto px-4 py-8" id="<%= dom_id project %>">
  <div class="mb-8">
  <p>
    <strong>Job number:</strong>
    <%= project.job_number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>File:</strong>
    <%= image_tag(project.file_blob, style: 'width: 200px; height: auto;') if project.file.present? %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= project.note %>
  </p>
  </div>
</div>
