<div id="<%= dom_id project %>">
  <p>
    <strong>Job number:</strong>
    <%= project.job_number %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>File:</strong>
    <%= image_tag project.file_blob if project.file.present? %>
  </p>


  <p>
    <strong>Note:</strong>
    <%= project.note %>
  </p>

</div>
